extends cmdlayout

block content
  .div-wrapper
    .settingsbar
      img(src='/images/HIVEPROJECTLOGO.png')

    nav(class='sidebar sidebar-menu-collapsed')
      a(href="#" id='justify-icon')
        span(class='glyphicon glyphicon-align-justify')

      ul
        li: a(href='#' title='command' class='expandable')
          span(class='glyphicon glyphicon-home collapsed-element')
          span(class='expanded-element') CMD
        li: a(class='expandable' href='#' title='community')
          span(class='glyphicon glyphicon-user collapsed-element')
          span(class='expanded-element') CMT
        li: a(class='expandable' href='login/logout' title='logout')
          span(class='glyphicon glyphicon-cog collapsed-element')
          span(class='expanded-element') LGT

      a(href='#' id='logout-icon' title='Logout')
        span(class='glyphicon glyphicon-off')

    .cmd-gui
      #video-feed
        <object width="480" height="394"><param name="movie" value="https://www.dropcam.com/e/eada72abf006448abaaa076fa8b694ae?autoplay=false"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="opaque"></param><embed src="https://www.dropcam.com/e/eada72abf006448abaaa076fa8b694ae?autoplay=false" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="394" wmode="opaque"></embed></object>
        #activate-bot
          h1 Choose bot
            br
            br
            each robot in robots
              if robot._id
                .switch
                    input(type="checkbox" id="bot1" class="bot-selector" data-id="#{robot._id}")
                    label
                      .fontawesome-ok
                  h1 #{robot.name}     
          br
          br
          h1 MPH
          br
          input(type="range" id="degBoxId" min="0" max="5" value="0" step="1" onchange="rangevalue.value=value")
          br
          output(id="rangevalue" class="output")
          br
          h1 Activate
            .switch
              input(type="checkbox" id="activate" name="activator" value="1")
              label
                .fontawesome-ok
          br
          br
          h1 Keypad Controls
          br
          .cd-tabs-navigation
            ul 
              li: a(data-content="up")
              li: a(data-content="left")
              li: a(data-content="down")
              li: a(data-content="right")




