doctype html
html(lang='en', class='no-js')
  head
    meta(name='viewpoint', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/stylenav.css')
    link(rel='stylesheet' href='http://getbootstrap.com/dist/css/bootstrap.css')
    link(rel='stylesheet' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css')

    link(rel='stylesheet' href='/stylesheets/reset.css')
    link(rel='stylesheet' href='/partials/_layout.scss')
    link(rel='stylesheet' href='/stylesheets/cmdstyle.css')
    link(rel='stylesheet' href='/partials/_mixins.scss')
    link(rel='stylesheet' href='/partials/_variables.scss')
    link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=PT+Sans:400,700')
    link(rel='stylesheet' href='/images/vicons.svg')
    link(rel='scripts' href='javascript/main.js')
    link(rel='scripts' href='javascript/modernizr.js')
    script(type='text/javascript' src='/javascripts/jquery-2.1.1.js')
    script(type='text/javascript' src='/javascripts/main.js')
    script(type='text/javascript' src='/javascripts/sidebar.js')
    script(type='text/javascript' src='/javascripts/cmd.js')
  body
    block content
